<md-toolbar class="top-toolbar" color="primary">
    <span>Create new account</span>
</md-toolbar>

<div class="page-content">
    <div class="add-field">
        <form [formGroup]="createAccountForm" novalidate>
            <md-input-container [dividerColor]="emailInputColor()">
                <input mdInput placeholder="Email" type="text" formControlName="email">
                <md-hint *ngIf="!validEmailInput()" id="email-input-warning">Incorrect email format</md-hint>
            </md-input-container>
            <md-input-container [dividerColor]="passwordInputColor()">
                <input mdInput placeholder="Password" type="text" formControlName="password">
                <md-hint *ngIf="!validPasswordInput()" id="password-input-warning">Incorrect password format</md-hint>
            </md-input-container>
            <md-input-container [dividerColor]="confirmPasswordInputColor()">
                <input mdInput placeholder="Confirm Password" type="text" formControlName="confirmPassword">
                <md-hint *ngIf="!confirmPasswordInput()" id="confirm-password-input-warning">Inconsistent password</md-hint>
            </md-input-container>
            <md-input-container [dividerColor]="userNameInputColor()">
                <input mdInput placeholder="User name" type="text" formControlName="name">
                <md-hint *ngIf="!validUserNameInput()" id="username-input-warning">Incorrect user name format</md-hint>
            </md-input-container>
            <md-card>
                <md-card-title>Upload avatar</md-card-title>
                <md-card-content>
                    <div class="upload-line">
                        <button md-mini-fab (click)="onSelectFile()">
                <md-icon>file_upload</md-icon>
              </button>
                        <md-input-container class="avatar-file-name">
                            <input mdInput type="text" disabled [value]="avatarUploadFileName">
                        </md-input-container>
                    </div>
                    <input id="avatar-upload" #avatarUploadInput type="file" ng2FileSelect [uploader]="avatarUploader">
                    <md-card-actions>
                        <button md-raised-button (click)="onUploadAvatarReturnAvatarPath()" [disabled]="avatarUploadFileName.length === 0">Upload</button>
                    </md-card-actions>
                </md-card-content>
            </md-card>
            <div>
                <button md-raised-button class="create-btn" [disabled]="!validCreateAccountForm" type="button" (click)="onCreateAccount()">Create Account</button>
            </div>
        </form>
    </div>
</div>
