<md-toolbar class="top-toolbar" color="primary">
  <span id="profile-header-text">Profile</span>
  <span class="toolbar-spacer"></span>
  <button md-raised-button (click)="onLogout()" class="sign-out" id='sign-out-id' color="warn">Sign out</button>
</md-toolbar>
<div class="progress-bar">
  <md-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></md-progress-bar>
</div>
<div class="page-content">
  <md-card id="header-section">
    <md-card-content>
      <img md-card-avatar id="profile-image" [src]="avatarUrl" alt="avatar">
      <p id="full-name">{{user?.name}}</p>
    </md-card-content>
  </md-card>
  <md-card id="information-section">
    <md-card-content>
      <md-list>
        <md-list-item>
          <h4 md-line class="tag">
            <md-icon>email</md-icon>
            Email Address:
          </h4>
          <p md-line class="personal-information">{{email}}</p>
        </md-list-item>
        <md-list-item>
          <h4 md-line class="tag">
            <md-icon>call</md-icon>
            Phone Number:
          </h4>
          <p md-line class="personal-information">604-xxx-xxx</p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>Change avatar</md-card-title>
    <md-card-content>
      <div class="upload-line">
        <button md-mini-fab (click)="onSelectFile()">
          <md-icon>file_upload</md-icon>
        </button>
        <md-input-container class="avatar-file-name">
          <input mdInput type="text" disabled [value]="avatarUploadFileName">
        </md-input-container>
      </div>
      <input id="avatar-upload" #avatarUploadInput type="file" ng2FileSelect [uploader]="avatarUploader">
      <md-card-actions>
        <button md-raised-button (click)="onUploadAvatar()" [disabled]="avatarUploadFileName.length === 0">Upload</button>
      </md-card-actions>
    </md-card-content>
  </md-card>
</div>