@import '~@angular/material/core/theming/theming';
@import 'src/styles/styles.scss';

.progress-bar {
  position: fixed;
  top: $toolbar-height;
  left: 0;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  z-index: 100;
}

#profile-image {
    width: 30%;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 35%;
}

#full-name {
    text-align:center;
    font-size: 20px;
    color: map-get($mat-indigo, 800);
}

.personal-information{
    position:relative;
    left:20%;
    font-size:20px;
}

 md-icon{
    font-size:20px;
    color:purple;
 }

.tag{
    color:#333300;
}

#avatar-upload {
  display: none;
}

.upload-line {
  display: flex;

  button {
    margin-right: 12px;
  }

  .avatar-file-name {
    flex: 1 1 auto;

    input {
      color: black !important;
    }
  }
}