@import '~@angular/material/core/theming/theming';
#profile-image {
    width: 30%;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 35%;
}

#second-card{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/cookbookdemo-6bde5.appspot.com/o/public%2Fprofile-background.jpg?alt=media&token=1d1f21f6-8309-4676-a73c-7162ec7ee560");
}

#full-name {
    text-align:center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    color: map-get($mat-indigo, 800);
}

.personal-information{
    position:relative;
    left:20%;
    font-size:20px;
}

 md-icon{
    font-size:20px;
    color:purple;
 }
 
.tag{
    color:#333300;
}
