<md-toolbar class="top-toolbar" color="primary">
  <span id="profile-text">Profile</span>
  <span class="toolbar-spacer"></span>
  <button md-raised-button (click)="onLogout()" class="right-icon" color="warn">Sign out</button>
</md-toolbar>
<div class="page-content">
  <img id="profile-image" src="/../../../assets/img/profile.jpg" alt="Stickman">
  <span id="profile-name">Kevin Tian</span>
  <img id="profile-background" src="/../../../assets/img/profile-background.jpg" alt="background">
  <div class="profile-attribute">
    <span>Email Address: xxx@sfu.ca</span>
  </div>
  <div class="profile-attribute">
    <span>Phone Number: 604-xxx-xxx</span>
  </div>
</div>