.top-toolbar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 100;

  .right-icon {
    padding: 0 14px;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

.page-content {
  position: absolute;
  top: $toolbar-height;
  bottom: $bottom-navbar-height;
}

.back-button {
  min-width: 30px !important;
  padding: 0 !important;
}
