html, body {
    height: 100%;
    overflow: hidden;
}

.top-toolbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  .right-icon {
    padding: 0 14px;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

.page-content {
    position: fixed;
    left: 0;
    right: 0;
    overflow: auto;
    margin: 36px 3px;
    top: 3%;
    bottom: 3%;
    overflow-x: hidden;
}

.back-button {
  min-width: 30px !important;
  padding: 0 !important;
}
