@import '~@angular/material/core/theming/theming';

md-card-title {
    color: map-get($mat-indigo, 800);;
    margin-bottom: 0px; 
}

md-card {
    margin-bottom: 10px; 
}

md-list {
    padding-top: 0px;
}

.like {
    color: map-get($mat-indigo, 800);
}