@import '~@angular/material/core/theming/theming';

md-card-title {
    // background-color: map-get($mat-indigo, 500);;
    color: map-get($mat-indigo, 500);;
    margin-bottom: 0px; 

}

md-card {
    padding-bottom: 24px;
    margin-bottom: 10px; 
}

md-list {
    padding-top: 0px;
}

.description {
    padding-top: 16px;
}

.fav-button {
    color: map-get($mat-red, 600);
}

.recipeName {
    width:90%;
}
