@import '~@angular/material/core/theming/theming';
@import 'src/styles/styles';

md-card {
    padding: 0 !important;
    margin: 5px;
    // background: map-get($mat-yellow, 300) !important;
  &.contracted {
   max-height: 200px;
  }
}

md-card-title {
    padding: 10px 0px 5px 10px;
    margin-bottom: 0px !important;
}

md-card-subtitle {
    padding: 5px 0px 0px 10px;
    margin-bottom: 0px !important;
}

.mat-card-title {
    font-size: 18px !important;
    font-weight: 200 !important;
}

.cart-ingredient-item {
  height: 30px;
  padding-bottom: 8px;
}

.cart-ingredient-list {
  padding: 0px 0px 5px 0px;
}
