<md-toolbar class="top-toolbar" color="primary">
  <span>Sign in</span>
</md-toolbar>

<div class="page-content">
  <form [formGroup]="loginForm" novalidate>
    <md-input-container [dividerColor]="emailInputColor()">
      <input mdInput placeholder="Email" type="email" formControlName="email">
      <md-hint *ngIf="!validEmailInput()">Incorrect email format</md-hint>
    </md-input-container>
    <md-input-container [dividerColor]="passwordInputColor()">
      <input mdInput placeholder="Password" type="password" formControlName="password">
      <md-hint *ngIf="!validPasswordInput()">Incorrect password format</md-hint>
    </md-input-container>
    <div>
      <button md-raised-button class="sign-in-btn" [disabled]='!validateLoginForm()' type="button" (click)="onSignIn()">Sign in</button>
      <button md-raised-button class="create-account-btn" [disabled]='!validateLoginForm()' type="button" (click)="onCreateAccount()">Create Account</button>
    </div>
  </form>

</div>
