@import '~@angular/material/core/theming/theming';
@import 'src/styles/styles';

md-hint {
  color: mat-color($recipes-app-warn);
}

form {
  margin-top: 24px;

  md-input-container {
    width: 90%;
    margin: 10px;
  }

  button {
    margin: 10px;
  }
}
