<main>
  <router-outlet></router-outlet>
</main>

<error-report></error-report>

<nav class="mat-elevation-z5">
  <a md-button color="primary" [routerLink]=" ['./recipes'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <md-icon>book</md-icon>
    <title>Recipes</title>
  </a>
  <a md-button color="primary" [routerLink]=" ['./favorite'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <md-icon>favorite</md-icon>
    <title>Favorite</title>
  </a>
  <a md-button color="primary" [routerLink]=" ['./account'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <md-icon>account_circle</md-icon>
    <title>Account</title>
  </a>
</nav>
