@import '~@angular/material/core/theming/theming';
@import 'src/styles/styles';

form {
  button {
    margin: 10px;
  }

  md-input-container {
    width: 95%;
    margin: 0px 10px 0px 10px;
  }

  md-hint {
    color: mat-color($recipes-app-warn);
  }

  .addPhoto {
    margin-left: 0px;

    &.selected {
      color: map-get($mat-pink , 500);
    }
  }

  .step-desc-item {
    display: flex;

    .step-desc-input-container {
      width: 88%;
      margin: 0px;
    }
  }
}

.upload-line {
  display: flex;

  button {
    margin-right: 12px;
  }

  .avatar-file-name {
    flex: 1 1 auto;

    input {
      color: black !important;
    }
  }
}
