.mat-input-container {
  display: block !important;
  padding: 2px 2px 0px 2px !important;
  margin-top: 10px !important;
}

.recipeForm {
  margin-bottom: 20px !important;
}

.addPhoto {
  float: right;
  position: relative;
}

