@import '~@angular/material/core/theming/theming';
@import 'src/styles/styles';

form {
  button {
    margin-left: 10px;
  }

  md-input-container {
    width: 95%;
    margin: 0px 10px 0px 10px;
  }

  md-hint {
    color: mat-color($recipes-app-warn);
  }

  .addPhoto {
    margin-left: 0px;
  }

  .step-desc-item {
    display: flex;

    .step-desc-input-container {
      width: 88%;
      margin: 0px;
    }
  }
}
