$button-fab-width: 5.600rem !default;
$button-fab-height: 5.600rem !default;
$button-fab-line-height: 5.600rem !default;
$button-fab-padding: 1.60rem !default;

.add-button {
    top: auto;
    right: ($button-fab-width - $button-fab-padding)/2;
    bottom: (2*$button-fab-height - $button-fab-padding)/2;
    left: auto;
    position: fixed;
}

.warning-area {
  text-align: center;
  margin-top: 200px;
}
